footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    .social__icons{
        display: flex;
        padding-top: 30px;
        padding-bottom: 10px;
        img{
            width: 1rem;
            height: 1rem;
            margin-inline: 15px;
        }
    }
}
.separation_footer{
    opacity: 0.5;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}