*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

@import "colors";
@import "fonts";
@import "mixin";
@import "buttons";

/*---------------*/

@import "header";
@import "main";
@import "footer";

/*-- responsive --*/

/* responsive desktop */

@media screen and (max-width: 1136px){
    .past__events{
        .past__events__container{
            flex-direction: column;
        }
    }
    .events{
        width: 90%;
    }
    .youtube__main{
        width: 90%;
    }
}

/*responsive tablet horizontal */

@media screen and (max-width: 993px){
    .main__title{
        .main__title__sub1{
            width: 50%;
            display: flex;
            justify-content: end;
            padding-right: 15px;
        }
        .main__title__sub2{
            width: 50%;
        }
    }
}

/*responsive tablet vertical */

@media screen and (max-width: 700px){
    .main__banner{
        .main__title{
            #title1{
                h2{
                    font-size: 14rem;
                }
            }
            #title2{
                h5{
                    font-size: 1rem;
                }
                h1{
                    font-size: 3rem;
                }
                #mainButtons{
                    display: none;
                }
            }
        }
        #buttonsMobile{
            display: block;
            text-align: center;
            position: relative;
            a{
                margin-inline: 10px;
            }
        }
    }
    .sponsors{
        .sponsors__logos{
            .sponsors__logos__icons{
                display: block;
                text-align: center;
            }
        }
    }
}

/*responsive mobile*/

@media screen and (max-width: 428px){
    .main__banner{
        .main__title{
            #title1{
                h2{
                    font-size: 10rem;
                }
            }
            #title2{
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
    .events{
        width: 95%;
        .event{
            margin-inline: 10px;
            .event__description{
                display: flex;
                .event__date{
                    margin-inline: 10px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .event__name{
                    margin-inline: 10px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .past__events{
        margin-bottom: 0;
        .past__events__container{
            width: 100%;
            flex-direction: column;
            align-items: center;
            .event{
                text-align: center;
                padding: 0;
                margin-block: 20px;
                hr{
                    opacity: 0;
                }
                .event__info{
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 95%;
                        height: auto;
                        text-align: center;
                    }
                    .event__text{
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;
                        text-align: justify;
                        p{
                            color: $color_p;
                        }
                        a{
                            width: fit-content;
                            align-self: center;
                            margin-top: 15px;
                        }
                    }
                }
            }
       }
    }
    .sponsors{
        margin-top: 30px;
    }
    .separation_footer{
        width: 95%;
    }
}

@media screen and (max-width: 380px){
    .main__banner{
        .main__title{
            #title1{
                h2{
                    font-size: 9rem;
                }
            }
            #title2{
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
    .youtube__main{
        width: 100%;
    }
    .sponsors{
        width: 100%;
        .sponsors__logos{
            .sponsors__logos__icons{
                display: block;
                text-align: center;
                margin: 10px;
                padding: 0;
                img{
                    width: 90px;
                }
            }
        }
    }
    .separation_footer{
        width: 95%;
    }
}